<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasword()">
<div class="main-container">
    <div class="header">
        <span class="header-text">Reset Password</span>
        <span class="header-cross"><i class="fa fa-times" aria-hidden="true" mat-button [mat-dialog-close]="true"></i></span>
    </div>
    <div class="form-container">
       
            <div class="form-row">
                <div class="col-12 pb-3">
                  <label for="password"  class="mb-1">Enter new password</label>
                  <input type="text" formControlName="password" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="col-12 pb-3">
                  <label for="userName" class="mb-1">Re-enter new password</label>
                  <input type="text" formControlName="repassword" class="form-control">
                </div>
            </div>
            <p class="ml-5"> By changing your password you will be logged out from this curent session.</p>
            
        
    </div>
   
    <div class="footer">
        <button class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid">Proceed</button>
    </div>
</div>
</form>