<app-nav-bar></app-nav-bar>

<!-- dashboard for admin  -->
<div *ngIf="isAdmin" class="admin-container">
    <div class="upper-section">
        <h1>All Products</h1>
        <input type="text" matInput  placeholder="Serach products" (keyup)="applyFilter($event)" #input/>
        <button class="btn btn-primary new-product" (click)="addNewProductPopup()">Add new product</button>
    </div>
    <div class="data-table">
        <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" >

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Sl. No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="productId">
                <th mat-header-cell *matHeaderCellDef>Product Id</th>
                <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
            </ng-container>

            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef>Product Name</th>
              <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="features">
                <th mat-header-cell *matHeaderCellDef>Features</th>
                <td mat-cell *matCellDef="let element"> {{element.features}} </td>
            </ng-container>
          
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> &#8377; {{element.price}}</td>
            </ng-container>
          
            <ng-container matColumnDef="noOfOrdersPlaced">
              <th mat-header-cell *matHeaderCellDef > No. of orders placed </th>
              <td mat-cell *matCellDef="let element"> {{element.noOfOrdersPlaced}} </td>
            </ng-container>
          
            <ng-container matColumnDef="quantityAvaiable">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantityAvaiable}} </td>
            </ng-container>

            <ng-container matColumnDef="productStatus">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.productStatus}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef class="action"> Action </th>
                <td mat-cell *matCellDef="let element" class="action">
                    <button class="btn btn-primary" title="Edit product" (click)="editProductPopup(element)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger" title="Delete product" (click)="deleteProductPopup(element.productId, element.productName, element.price)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 50]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements"
                 class="paginator">
        </mat-paginator>
    </div>
</div>

<!-- dashboard for user -->
<div class="user-container" *ngIf="!isAdmin">
    <diV class="options">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </diV>

    <div class="banner-img">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/camera/audio/hero/june/10/Bestselling_Tallhero_3000x1200._CB603335641_.jpg">
    </div>

    <div class="products-section" >
        <div class="card" style="width: 18rem;" *ngFor="let element of dataForUser" (click)="productDetails(element.productId)">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/VGSW/2023/Q2/PC_CategoryCard_758X608_PS5_May-W2_BAU2_1x._SY304_CB587762334_.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
                <h4 class="card-title">{{element.productName}}</h4>
                <p class="card-text">{{element.description}}</p>
                <div class="product-buttons">
                    <a href="#" class="btn btn-secondary">Add to cart</a>
                    <a href="#" class="btn btn-warning">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="first-footer">

        </div>

        <div class="second-footer">

        </div>

        <div class="third-footer">

        </div>
    </div>
</div>